html{
    /* transform: rotate(270deg); */
}

body{
    overflow: hidden;
}

.titulo{
    transform: rotate(270deg);
    position: fixed;
    top: 30%;
    left: 0%;

}

.frase{
    transform: rotate(270deg);
    position: fixed;
    top: 30%;
    left: 20%;
    font-size: 1.3em;
    max-width: 500px;
}

.logo{
    /*ancho de la pantalla*/
    width: 100vw;
    /*alto de la pantalla*/
    height: 100vh;
}